

<div class="validation-messages">
	<% if @utility.errors.any? %>
		<ul>
			<% @utility.errors.each do |field, msg| %>
				<li><%= msg %></li> <br />
   			<% end %>
   		<ul>
	<% end %>
</div>


<div class="travel-instruction">
	<h3>
		Open your Utility bill
	</h3>
	<p>
		Enter a number in each field, and we'll use the compare your carbon footprint against the other users.
	</p>
</div>

<div class="travel-form">
	<%= form_for([@user, @utility], method: :post) do |f| %>
		<%= f.label "Electricity used:" %><br>
		<%= f.text_field :kwh, placeholder: "kwh" %><br>
		<%= f.label "Gas used:" %><br>
		<%= f.text_field :therms, placeholder: "therms" %><br>
		<%= f.label "Water used:" %><br>
		<%= f.text_field :gallons, placeholder: "gallons" %><br>
		<%= f.submit "Submit" %>
	<% end %>
</div>



