  <html>
    
    <head>
    
    </head>
      
      <h3>

       Test out graphs, charts, and data

      </h3>

      <%= @user.email %>

      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
     
      <h4>Results by:</h4>


       <h5>Comparing User Progress</h5>
            <%= bar_chart [
              {name: "Current User: First Survey", data:[
              ["age", @user.profiles.first!.age],
              ["household size", @user.profiles.first!.total_household_members]
              ]
              }, 

              {name: "Current User: Last Survey", data:[
              ["age", @user.profiles.last!.age],
              ["household size", @user.profiles.last!.total_household_members]
              ]
              }
              ]
              %>

            <%= bar_chart [
              {name: "Current User, First Survey: Utilities", data:[
              ["kwh", @user.utilities.first.kwh],
              ["therms", @user.utilities.first.therms],
              ["gallons", @user.utilities.first.gallons]
              ]
              }, 
              {name: "Current User, Last Survey: Utilities", data:[
              ["kwh", @user.utilities.last.kwh],
              ["therms", @user.utilities.last.therms],
              ["gallons", @user.utilities.last.gallons]
              ]
              }
              ]
              %>

            <%= bar_chart [
              {name: "Current User Now: Recycling", data:[
              ["local", @user.recyclings.last.local],
              ["compost", @user.recyclings.last.compost],
              ["fabric", @user.recyclings.last.fabric],
              ["ewaste", @user.recyclings.last.ewaste]
              ]
              }
              ]
              %>

      <h5>Comparing Current and Average User</h5>
  <!-- Do we need to have integer values for answers to recycling? -->
          <%= pie_chart [
            {name: "Current User", data:[
              ["age", @user.profiles.last.age],
              ["total household members", @user.profiles.last.total_household_members],
              ["kwh", @user.utilities.last.kwh],
              ["therms", @user.utilities.last.therms],
              ["gallons", @user.utilities.last.gallons],
              ["local", @user.recyclings.last.local],
              ["compost", @user.recyclings.last.compost],
              ["fabric", @user.recyclings.last.fabric],
              ["ewaste", @user.recyclings.last.ewaste],
              
            ]
            },

            {name: "Average User", data:[
              ["age", @average_age],
              ["total household members", @average_total_household_members],
              ["kwh", @average_kwh],
              ["therms", @average_therms],
              ["gallons", @average_gallons],
              ["local", @average_local],
              ["compost", @average_compost],
              ["fabric", @average_fabric],
              ["ewaste", @average_ewaste],
              
            ]
            }
            ]
            %>

           <!--  <h5>All Users</h5> -->



            <!-- <h6>User sign in</h6>
            <%= line_chart User.group_by_month(:last_sign_in_at).count %> -->
          
  </html>
