

<div class="user-introduction">
	<h3>
		<% if !@user.profiles.empty? %>
			<%= "#{@user.profiles.last.fname} survey page" %>
		<% else %>
			Hey... you. Fill out your profile!
		<% end %>
	</h3>

	<p>
		Find all the surveys you are eligible for.  Most surveys can only be completed after some time has lapsed.  Check back for more chances.
	</p>
</div>


<% if @user.profiles.empty? %>
	<div class="user-form-divs">
		<%= link_to(new_user_profile_path(:user_id => @user.id), method: :get) do %>
			<div>
				<p>
					First, create a Profile
				</p>
				<img src="/assets/profile.png">
			</div>
		<% end %>
	</div>

<% else %>

	<% if @user.profiles.last.created_at < 180.days.ago %>
		<div class="user-form-divs">
			<%= link_to(new_user_profile_path(:user_id => @user.id), method: :get) do %>
					<div>
						<p>
							Update your Profile
						</p>
						<img src="/assets/profile.png">
					</div>
			<% end %>
		</div>
	<% end %>


	<% if @user.utilities.last.nil? || @user.utilities.last.created_at < 30.day.ago %>
		<div class="user-form-divs">
			<%= link_to(new_user_utility_path(:user_id => @user.id), method: :get) do %>
				<div>
					<p>
						Household Utiities
					</p>
					<img src="/assets/utility.jpg">
				</div>
			<% end %>
		</div>
	<% end %>


	<% if @user.recyclings.last.nil? || @user.recyclings.last.created_at < 45.day.ago %>
		<div class="user-form-divs">
			<%= link_to(new_user_recycling_path(:user_id => @user.id), method: :get) do %>
				<div>
					<p>
						Reccyling Habits
					</p>
					<img src="/assets/recycle.png">
				</div>
			<% end %>
		</div>
	<% end %>


	<% if @user.travels.last.nil? || @user.travels.last.created_at < 1.day.ago %>
		<div class="user-form-divs">
			<%= link_to(new_user_travel_path(:user_id => @user.id), method: :get) do %>
				<div>
					<p>
						Travel or Commute
					</p>
					<img src="/assets/travel.jpg">
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<div class="user-graphs">
	<% if @user.profiles.empty? || @user.utilities.empty? || @user.recyclings.empty? || @user.travels.empty? %>
		
		<p class="empty-data">
			Once you complete enough surveys, you'll see the results below.
		</p>

	<% else %>

		<%= content_tag :div, :class => "graph-instruction" do %>
			<%= content_tag :div, :class => "graph-body" do %>
				<h3>
					Your total CO2 Score is <%= @CO2 %> vs. the Average New Yorker at <%= @CO2s %> 
				</h3>
				<p>
					Review your <%= link_to "Detailed Report", detailedgraphs_path %> to see a complete view of your footprint compared with the average New York City resident. 
				</p>

				<%= bar_chart [ 
							{name: "Total CO2 Score", data:[
								["Current User", @CO2],  
								["Average New Yorker", @CO2s]
							]
						}
					]
					%>

			<% end %>
		<% end %>

	<% end %>
</div>
	


